.cart-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;
}
.cart-image{
width:120px;
height:auto;
object-fit: contain;
padding:10px;
margin:20px;
background-color: #fff;
}
.cart-container p{
    font-size: large;
    font-weight: bold;
}
.cart-container div{
    width:300px;
}